=semantic_form_for @product, :html => {:multipart => true} do |f|
  =f.input :name
  =f.input :category, :as => :select, :collection => Product::CATEGORIES
  =f.input :image, :as => :file
  =f.submit
