%h1 Manage Products

%table
  %tr
    %th ID
    %th Name
    %th Category
    %th Image
    %th Actions
  -@products.each do |product|
    %tr
      %td=product.id
      %td=product.name
      %td=product.category
      %td image here
      %td
        =link_to 'Edit', edit_product_path(product)
        \|
        =link_to 'Show', product_path(product)
