%h1 Manage Products

%p=link_to 'Add Product', new_product_path

%table
  %tr
    %th ID
    %th Name
    %th Category
    %th Image
    %th Actions
  -@products.each do |product|
    %tr
      %td=product.id
      %td=product.name
      %td=product.category
      %td=product.image.present? ? 'Present' : 'No Image'
      %td
        =link_to 'Edit', edit_product_path(product)
        \|
        =link_to 'Show', product_path(product)
        \|
        =link_to 'Destroy', product_path(product), :confirm => 'Are you sure', :method => 'delete'
